{% trans_default_domain 'FOSUserBundle' %}
<h1 class="no-margin skin-color">Change password</h1>
<div id="travel-stories" class="tab-pane fade in active">
    <div class="col-sm-9 no-float no-padding">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'change_password.submit'|trans }}" />
            </div>
        </form>
    </div>
</div>

