<div class="container section">
    <h2>{{ 'accueil.partenaire'|trans }}</h2>
    <div class="flexslider image-carousel style2 row-2" data-animation="slide" data-item-width="170" data-item-margin="30">
        <ul class="slides">
            <li>
                <a href="#" class="hover-effect">
                    <img src="http://placehold.it/170x160" alt="" />
                    <p class="caption">La Degue Island</p>
                </a>
                <a href="#" class="hover-effect">
                    <img src="http://placehold.it/170x160" alt="" />
                    <p class="caption">La Degue Island</p>
                </a>
            </li>
            <li>
                <a href="#" class="hover-effect">
                    <img src="http://placehold.it/170x160" alt="" />
                    <p class="caption">La Degue Island</p>
                </a>
                <a href="#" class="hover-effect">
                    <img src="http://placehold.it/170x160" alt="" />
                    <p class="caption">La Degue Island</p>
                </a>
            </li>
            <li>
                <a href="#" class="hover-effect">
                    <img src="http://placehold.it/170x160" alt="" />
                    <p class="caption">La Degue Island</p>
                </a>
                <a href="#" class="hover-effect">
                    <img src="http://placehold.it/170x160" alt="" />
                    <p class="caption">La Degue Island</p>
                </a>
            </li>
            <li>
                <a href="#" class="hover-effect">
                    <img src="http://placehold.it/170x160" alt="" />
                    <p class="caption">La Degue Island</p>
                </a>
                <a href="#" class="hover-effect">
                    <img src="http://placehold.it/170x160" alt="" />
                    <p class="caption">La Degue Island</p>
                </a>
            </li>
            <li>
                <a href="#" class="hover-effect">
                    <img src="http://placehold.it/170x160" alt="" />
                    <p class="caption">La Degue Island</p>
                </a>
                <a href="#" class="hover-effect">
                    <img src="http://placehold.it/170x160" alt="" />
                    <p class="caption">La Degue Island</p>
                </a>
            </li>
            <li>
                <a href="#" class="hover-effect">
                    <img src="http://placehold.it/170x160" alt="" />
                    <p class="caption">La Degue Island</p>
                </a>
                <a href="#" class="hover-effect">
                    <img src="http://placehold.it/170x160" alt="" />
                    <p class="caption">La Degue Island</p>
                </a>
            </li>
            <li>
                <a href="#" class="hover-effect">
                    <img src="http://placehold.it/170x160" alt="" />
                    <p class="caption">La Degue Island</p>
                </a>
                <a href="#" class="hover-effect">
                    <img src="http://placehold.it/170x160" alt="" />
                    <p class="caption">La Degue Island</p>
                </a>
            </li>
        </ul>
    </div>
</div>