<div id="slideshow">
    <div class="fullwidthbanner-container">
        <div class="revolution-slider" style="height: 0; overflow: hidden;">
            <ul>
                <li data-transition="zoomin" data-slotamount="7" data-masterspeed="1500">
                    <img src="{{ asset('images/slider/2080x646.gif') }}" alt="">
                </li>

                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500">
                    <img src="{{ asset('images/slider/2080x646.gif') }}" alt="">
                </li>

                <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1500">
                    <img src="{{ asset('images/slider/2080x646.gif') }}" alt="">
                </li>
            </ul>
        </div>
    </div>
</div> 